{# This is a Jinja2 comment #}

{# In Jinja2, layout is the page from which all others inherit, using extends.  It mostly imports external libraries #}
{% extends "layout.html" %}

{# In Jinja2, this lets the header know which page is the active page (to highlight it) #}
{% set active_page = active_page|default("index") %}

{# insert custom header files here, like specialized css #}
{% block csshead %}
<style>
.nvline svg {
  height: 500px;
}

        /* --- Sankey chart styles --- */
        .node rect {
            cursor: move;
            fill-opacity: .9;
            shape-rendering: crispEdges;
        }
        .node text {
            pointer-events: none;
            text-shadow: 0 1px 0 #fff;
        }
        .link {
            fill: none;
            stroke: #000;
            stroke-opacity: .2;
        }
        .link:hover {
            stroke-opacity: .5;
        }

</style>
{% endblock csshead %}

{# here you are defining the content that gets inserted into the layout body block #}
{% block body %}

<div class='well'>
    <div class='row'>
        <div class='col-md-10'>
            <h1>{{page|title}} for {{title}}</h1>
        </div>
    </div>
    <div class='row'>
        <div id='test'>
        </div>
    </div>
    <div class='row' id='page'>
        <div class='col-md-6'>
            <div class='nvline' id='pageviews'>
                <h3>Total "Page Views" (Requests)</h3>
                <svg></svg>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='nvline' id='uniqvis'>
                <h3>Unique "Visitors" (IPs)</h3>
                <svg></svg>
            </div>
        </div>
    </div>
    <div class='row' id='page'>
        <div class='col-md-6'>
            <div class='nvline' id='ppv'>
                <h3>Pages Per Visit</h3>
                <svg></svg>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='nvline' id='newlose'>
                <h3>New/Lost Visitors</h3>
                <svg></svg>
            </div>
        </div>
    </div>
    <div class='row' id='page'>
        <div class='col-md-6'>
            <div class='nvline' id='td'>
                <h3>Ave Time Duration</h3>
                <svg></svg>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='nvline' id='blank'>
                <h3>Blank</h3>
                <svg></svg>
            </div>
        </div>
    </div>
    <div class='row' id='page'>
        <div class='col-md-6'>
            <div class='nvline' id='stackpages'>
                <h3>Page Distribution</h3>
                <svg></svg>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

<!-- JS Code -->
{% block code %}
<script type='text/javascript'>
    // to create a Sankey curve interpolation
    function interpolateSankey(points) {
      var x0 = points[0][0], y0 = points[0][1], x1, y1, x2,
          path = [x0, ",", y0],
          i = 0,
          n = points.length;
      while (++i < n) {
        x1 = points[i][0], y1 = points[i][1], x2 = (x0 + x1) / 2;
        path.push("C", x2, ",", y0, " ", x2, ",", y1, " ", x1, ",", y1);
        x0 = x1, y0 = y1;
      }
      return path.join("");
    }

    // This is the DC library for the heatmap
    var chart = dc.heatMap("#test");
    d3.json(Flask.url_for('index_page.getjson'), function(error, data) {

        // var dateFormat = d3.time.format("%Y-%m-%d");

        // data.forEach(function (d) {
        //     d.dd = dateFormat.parse(d.date);
        //     d.month = d3.time.month(d.dd).getMonth(); // pre-calculate month for better performance
        //     d.year = d3.time.year(d.dd).getFullYear();
        //     d.close = +d.close; // coerce to number
        //     d.open = +d.open;
        // });

      var ndx    = crossfilter(data),
          runDim = ndx.dimension(function(d) { return [+d.date, +d.time]; }),
          runGroup = runDim.group().reduceSum(function(d) { return +d.count; });
      chart
        .width(45 * 20 + 80)
        .height(45 * 5 + 40)
        .dimension(runDim)
        .group(runGroup)
        .keyAccessor(function(d) { return +d.key[0]; })
        .valueAccessor(function(d) { return +d.key[1]; })
        .colorAccessor(function(d) { return +d.value; })
        .title(function(d) {
            return "Date:   " + d.key[0] + "\n" +
                   "Time:  " + d.key[1] + "\n" +
                   "Count: " + (299000 + d.value) + " km/s";})
        .colors(["#ffffd9","#edf8b1","#c7e9b4","#7fcdbb","#41b6c4","#1d91c0","#225ea8","#253494","#081d58"])
        .calculateColorDomain();
      chart.render();
    });

    // This is a line chart using the NVD3 library for total requests
    d3.json(Flask.url_for('index_page.getlinejson'), function(data) {
        nv.addGraph(function() {
          var chart = nv.models.lineWithFocusChart()
            .x(function(d) { return moment(d[0]); })
            .y(function(d) { return d[1]; })
            .xScale(d3.time.scale())
            .clipEdge(true)
            .duration(300)
            //.isArea(true)
            .interpolate(interpolateSankey)
            .useInteractiveGuideline(true)
            //.showLabels(true)
            .color(d3.scale.category10().range());

          chart.xAxis
              .showMaxMin(false)
              .axisLabel("Date")
              .staggerLabels(true)
              .tickFormat(function(d) { return moment(d).format('YYYY-MM-DD'); });

          chart.x2Axis
                .tickFormat(function(d) { return moment(d).format('YYYY-MM-DD'); });

          chart.yAxis
              .axisLabel("Number")
              .tickFormat(d3.format(',.2f'));

          chart.y2Axis
              .tickFormat(d3.format(',.2f'));

          d3.select('#pageviews svg')
              .datum(data)
              .transition().duration(500)
              .call(chart);

          nv.utils.windowResize(chart.update);

          return chart;
        });
    });

    // This is a line chart using the NVD3 library for unique visitors
    d3.json(Flask.url_for('index_page.getuniqvisits'), function(data) {
        nv.addGraph(function() {
          var chart = nv.models.lineWithFocusChart()
            .x(function(d) { return moment(d[0]); })
            .y(function(d) { return d[1]; })
            .xScale(d3.time.scale())
            .clipEdge(true)
            .duration(300)
            //.isArea(true)
            .interpolate(interpolateSankey)
            .useInteractiveGuideline(true)
            //.showLabels(true)
            .color(d3.scale.category10().range());

          chart.xAxis
              .showMaxMin(false)
              .axisLabel("Date")
              .staggerLabels(true)
              .tickFormat(function(d) { return moment(d).format('YYYY-MM-DD'); });

          chart.x2Axis
                .tickFormat(function(d) { return moment(d).format('YYYY-MM-DD'); });

          chart.yAxis
              .axisLabel("Number")
              .tickFormat(d3.format(',.2f'));

          chart.y2Axis
              .tickFormat(d3.format(',.2f'));

          d3.select('#uniqvis svg')
              .datum(data)
              .transition().duration(500)
              .call(chart);

          nv.utils.windowResize(chart.update);

          return chart;
        });
    });

    // This is a line chart using the NVD3 library for pages/visitors
    d3.json(Flask.url_for('index_page.getppv'), function(data) {
        nv.addGraph(function() {
          var chart = nv.models.lineWithFocusChart()
            .x(function(d) { return moment(d[0]); })
            .y(function(d) { return d[1]; })
            .xScale(d3.time.scale())
            .clipEdge(true)
            .duration(300)
            //.isArea(true)
            .interpolate(interpolateSankey)
            .useInteractiveGuideline(true)
            //.showLabels(true)
            .color(d3.scale.category10().range());

          chart.xAxis
              .showMaxMin(false)
              .axisLabel("Date")
              .staggerLabels(true)
              .tickFormat(function(d) { return moment(d).format('YYYY-MM-DD'); });

          chart.x2Axis
                .tickFormat(function(d) { return moment(d).format('YYYY-MM-DD'); });

          chart.yAxis
              .axisLabel("Number")
              .tickFormat(d3.format(',.2f'));

          chart.y2Axis
              .tickFormat(d3.format(',.2f'));

          d3.select('#ppv svg')
              .datum(data)
              .transition().duration(500)
              .call(chart);

          nv.utils.windowResize(chart.update);

          return chart;
        });
    });

    // This is a line chart using the NVD3 library for new/lost vistors
    d3.json(Flask.url_for('index_page.getnewlost'), function(data) {
        nv.addGraph(function() {
          var chart = nv.models.lineWithFocusChart()
            .x(function(d) { return moment(d[0]); })
            .y(function(d) { return d[1]; })
            .xScale(d3.time.scale())
            .clipEdge(true)
            .duration(300)
            .isArea(true)
            .interpolate(interpolateSankey)
            .useInteractiveGuideline(true)
            //.showLabels(true)
            .color(d3.scale.category10().range());

          chart.xAxis
              .showMaxMin(false)
              .axisLabel("Date")
              .staggerLabels(true)
              .tickFormat(function(d) { return moment(d).format('YYYY-MM-DD'); });

          chart.x2Axis
                .tickFormat(function(d) { return moment(d).format('YYYY-MM-DD'); });

          chart.yAxis
              .axisLabel("Percentage")
              .tickFormat(d3.format(',.2f'));

          chart.y2Axis
              .tickFormat(d3.format(',.2f'));

          d3.select('#newlose svg')
              .datum(data)
              .transition().duration(500)
              .call(chart);

          nv.utils.windowResize(chart.update);

          return chart;
        });
    });

    // This is a line chart using the NVD3 library for avg time duration
    d3.json(Flask.url_for('index_page.gettd'), function(data) {
        nv.addGraph(function() {
          var chart = nv.models.lineWithFocusChart()
            .x(function(d) { return moment(d[0]); })
            .y(function(d) { return d[1]; })
            .xScale(d3.time.scale())
            .clipEdge(true)
            .duration(300)
            .isArea(true)
            .interpolate(interpolateSankey)
            .useInteractiveGuideline(true)
            //.showLabels(true)
            .color(d3.scale.category10().range());

          chart.xAxis
              .showMaxMin(false)
              .axisLabel("Date")
              .staggerLabels(true)
              .tickFormat(function(d) { return moment(d).format('YYYY-MM-DD'); });

          chart.x2Axis
                .tickFormat(function(d) { return moment(d).format('YYYY-MM-DD'); });

          chart.yAxis
              .axisLabel("Time (min)")
              .tickFormat(d3.format(',.2f'));

          chart.y2Axis
              .tickFormat(d3.format(',.2f'));

          d3.select('#td svg')
              .datum(data)
              .transition().duration(500)
              .call(chart);

          nv.utils.windowResize(chart.update);

          return chart;
        });
    });


// Sankey test
    var data = {
        nodes:
            [
                {'node': 1, 'name': 'Test 1', 'group':'date'},
                {'node': 2, 'name': 'Test 2', 'group':'date'},
                {'node': 3, 'name': 'Test 3', 'group':'time'},
                {'node': 4, 'name': 'Test 4', 'group':'stuff'},
                {'node': 5, 'name': 'Test 5', 'group':'place'},
                {'node': 6, 'name': 'Test 6', 'group':'place'}
            ],
        links:
            [
                {'source': 0, 'target': 1, 'value': 2295},
                {'source': 0, 'target': 5, 'value': 1199},
                {'source': 1, 'target': 2, 'value': 1119},
                {'source': 1, 'target': 5, 'value': 1176},
                {'source': 2, 'target': 3, 'value': 487},
                {'source': 2, 'target': 5, 'value': 632},
                {'source': 3, 'target': 4, 'value': 301},
                {'source': 3, 'target': 5, 'value': 186}
            ]
    };
    nv.addGraph(function() {
        var chart = nv.models.sankeyChart()
            .width(790)
            .units('elephants');
        d3.select('#blank svg')
            .datum(data)
            .attr('width', 790)
            .call(chart);
        return chart;
    });


    // This is a line chart using the NVD3 library for page distribution over time
    d3.json(Flask.url_for('index_page.getpagestream'), function(data) {
        nv.addGraph(function() {
          var chart = nv.models.stackedAreaWithFocusChart()
            .x(function(d) { return moment(d[0]); })
            .y(function(d) { return d[1]; })
            .xScale(d3.time.scale())
            .clipEdge(true)
            .duration(300)
            //.isArea(true)
            .interpolate(interpolateSankey)
            .useInteractiveGuideline(true)
            //.showLabels(true)
            .color(d3.scale.category10().range());

          chart.xAxis
              .showMaxMin(false)
              .axisLabel("Date")
              .staggerLabels(true)
              .tickFormat(function(d) { return moment(d).format('YYYY-MM-DD'); });

          chart.x2Axis
                .tickFormat(function(d) { return moment(d).format('YYYY-MM-DD'); });

          chart.yAxis
              .axisLabel("Number")
              .tickFormat(d3.format(',.2f'));

          chart.y2Axis
              .tickFormat(d3.format(',.2f'));

          d3.select('#stackpages svg')
              .datum(data)
              .transition().duration(500)
              .call(chart);

          nv.utils.windowResize(chart.update);

          return chart;
        });
    });

</script>
{% endblock code %}
